.retrait{list-style-position:outside; color:blue;background-color:green;width:500px;}
.pas_de_retrait{list-style-position:inside;color:blue;background-color:green;width:500px;}

/*Liste à puces non ordonnées*/
.cercle{list-style-type:circle;color:chocolate;background-color:green;width:500px;}
.carre{list-style-type:square;color:brown;background-color:chartreuse;width:500px;}
.rien{list-style-type:none;color:brown;background-color:green;width:500px;}
.commence_a_zero{list-style-type:decimal-leading-zero;color:crimson;}
.lettres_miniscules{list-style-type:lower-alpha;color:green;}
.chiffres_romains{list-style-type:upper-roman;color:brown;}
.lettres_grecques{list-style-type:lower-greek;color:brown;}
/*Quelques styles supplémentaires juste pour la présentation En plus ça vous fait rappels;o)*/
ul{color:brown;background-color:darkcyan;width:550px;}
ol{background-color:yellowgreen;width: 600px;}
div{background-color:chocolate;width:600px;}
h2{text-indent:20px;
    font-family:Arial,Verdana,"Times New Roman",serif;color:chartreuse; background-color: black;}
em{background-color:yellow;}
strong{color:red;}
 body{background-color:cadetblue;} 
.coupe{ overflow: hidden; } 
.barres_defilement{ overflow: scroll; } 
.auto{  overflow: auto; } 
p { 
width: 350px; 
border: 1px solid black; 
text-align: justify; 
padding: 12px; 
margin-bottom: 50px; } 
h1 { 
margin-left: 30px; color:aquamarine;background-color: black;}
p { 
width: 350px; /* On a indiqué une largeur (obligatoire) */ 
border: 1px solid black; 
height: 100px; background-color:deepskyblue;
text-align: justify; 
 /* On peut donc demander à ce que le block soit centré avec "auto" */ 
margin-bottom: 20px; padding: 7px; 
margin: 0;}
fieldset{background-color:darkcyan;}