h1
{text-align:center;color:navy;background-color:deepskyblue;}
body{background-color:steelblue;}
div { 
    width: 700px; 
height: 300px; 
}
h2{text-decoration: underline;
color:blue;text-align:center;}
h3,h4{color:midnightblue;text-decoration:underline;font-size:x-large;}  
p#premier { position:relative;left:450px;font-size:larger;
width: 800px;text-align:center;
    } 
                  
p#second{ position:relative;left:410px; font-size:larger;
width: 900px;}
p{
    font-size : larger; color:darkblue;
}
h2#sous_titre{position:relative;left:410px; font-size:x-large;
    width: 900px;}

fieldset{background-color:dodgerblue;}
.presentation{width:300px;}
.apport{width:300px;position:relative;left: 400px;bottom:120px;}