body{background-color:aliceblue;}
label{background-color:blanchedalmond;}
form{color:blue;}
input{background-color:aliceblue;}
p{background-color:beige;;width:600px;}
fieldset{background-color:antiquewhite;}